
<div class="site-section" id="about-msv-section">
      <div class="container">
        <div class="row align-items-lg-center">
          <div class="col-md-6 mb-5 mb-lg-0 position-relative">
            <img src="{{ url_for('static', filename='images/experts/msv.png')}}" class="img-fluid" alt="Image">
            
          </div>
          <div class="col-md-5 ml-auto">
            <h3 class="section-sub-title">Experts</h3>
            <h2 class="section-title mb-3">Manish S. Vaidya</h2>
            <p class="mb-4">Manish is a website programming expert with certifications from Harvard and Stanford. He has over 20 years of high-tech experience working in startups and large companies. Manish is conversant in working with Javascript, HTML, Python, WordPress, GoDaddy, Shopify and Squarespace.</p>
           </div>
        </div>
      </div>
    </div>
 