
 <a href="{{ url_for('contact') }}" class="bg-primary py-5 d-block">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md10"><h2 class="text-white">Let's Get Started</h2></div>
        </div>
      </div>  
    </a>

 <footer class="site-footer">
      <div class="container">
         
         
            <!-- contact icons -->


        <div class="site-mobile-menu site-navbar-target">
              <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                  <span class="icon-close2 js-menu-toggle"></span>
                </div>
              </div>
              <div class="site-mobile-menu-body"></div>
            </div>
           
            <div class="top-bar py-3 bg-light" id="home-section">
              <div class="container">
                <div class="row">
                   <div class="col-6 text-left">
                    <ul class="social-media">
                      
                    </ul>
                  </div>
                  <div class="col-6">
                    <p class="mb-0 float-right">
                      <span class="mr-3"> <span class="d-none d-lg-inline-block">CONTACT US</span></a></span>
                      <span class="mr-3"><a href="tel://#"> <span class="icon-phone mr-2"></span><span class="d-none d-lg-inline-block">+1 408 766 1440</span></a></span>
                      <span><a href="mailto:info@webcmg.com"><span class="icon-envelope mr-2"></span><span class="d-none d-lg-inline-block">info@webcmg.com</span></a></span>
                    </p>
                    
                  </div>
                </div>
              </div> 
            </div>
            
         <!-- end of contact icons -->
         
            <div class="border-top pt-5">
            <p>
 
      </p>
            </div>
          </div>
          
        
    </footer>