{% extends "layout.html" %}

{% block content %}



 <div class="main main-raised">
  <div class="container" align="center">
    <div class="col-md-8 col-md-offset-2">
        <br>
        <br>
        <h2 class="title"> <br> manishvaidya.com Legal Disclaimer</h2>

		<div class="col-md-8 col-md-offset-2">
        <h6 class="title"> <br> Last Revision: July 7th, 2018</h6>
    	</div>

	<div class="col-md-8 col-md-offset-2">
        <h5 class="title"> <br> Acceptance of Terms</h2></h5>
        <h5 class="description">manishvaidya.com, Inc. ("Manish Vaidya," "we," or "us") provides the Services subject to the following terms and conditions.

By using any of the Services, you agree to be legally bound by the terms and conditions of this agreement (the "Agreement") and our Privacy Policy, which is incorporated by reference. By entering this agreement, you expressly acknowledge that you have read and understand all of the terms of this agreement and have taken time to consider the consequences of this important decision.

When services from other Web sites and/or applications are made available through the Services (e.g., by logging into any of the Services using a social media username and password), you agree to be legally bound by the terms and conditions and privacy policies of those other Web sites and/or applications.

Certain features of the Services may be subject to additional guidelines, terms or rules, which will be posted in or on the Services in connection with such features. All such additional terms, guidelines and rules are incorporated by reference into this Agreement.</h5>
    </div>

    <div class="col-md-8 col-md-offset-2">
        <h5 class="title"> <br> Ownership</h2> </h5>
        <h5 class="description">Our Contributors, licensors and we own all rights in the manishvaidya.com site, Content, aggregate user review ratings, data, text, designs, pages, print screens, the organization and structure of our data and Web sites, trademarks, logos, trade names, images, artwork, photographs, audio and video clips, and HTML code, source code, or software that resides or is viewable or otherwise discoverable on manishvaidya.com. We (or as applicable, our licensors) own all intellectual property rights in our databases’ code, indexes, algorithms, organization and structure, and compilation of data. Except for the limited license we grant to you below, you obtain no other rights in manishvaidya.com or its Content.</h5>
    	</div>

   <div class="col-md-8 col-md-offset-2">
        <h5 class="title"> <br> License and Authorized Uses</h2></h5>
        <h5 class="description">The manishvaidya.com services and its Content are licensed, not sold. We grant you a non-exclusive, non-transferable, limited license to access and use manishvaidya.com and the Content subject to the terms and limitations of this Agreement. Any use beyond this limited license is prohibited. You may use such Content only (1) to display internally such Content for your internal business and research needs and (2) to quote and excerpt from such Content. You may also create one printout of such Content for your internal use and you may not further distribute the printouts. We do not authorize any other access and use of manishvaidya.com not expressly provided in this Agreement.</h5>
    </div>

 	<div class="col-md-8 col-md-offset-2">
        <h5 class="title"> <br> THE SERVICES AND THE MATERIALS ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. YOU EXPRESSLY AGREE THAT USE OF THE SERVICES AND MATERIALS IS AT YOUR SOLE RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM YOUR USE OF THE SERVICES OR MATERIALS AND FOR ANY DISCLOSURE OF INFORMATION THAT YOU UNDERTAKE WHILE USING THE SERVICES OR MATERIALS.

TO THE FULLEST EXTENT PERMISSIBLE UNDER APPLICABLE LAW, manishvaidya.com AND ITS AFFILIATES AND LICENSORS DISCLAIM ALL WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF TITLE, NONINFRINGEMENT AND IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, WITH RESPECT TO THE SERVICES OR MATERIALS </h5>
    </div>


<div class="col-md-8 col-md-offset-2">
        <h5 class="title"> <br> License and Authorized Uses</h2></h5>
        <h5 class="description">manishvaidya may provide you notice of changes or any other matter by displaying notices to you generally through the Services or, at its option, by using any contact information you have provided to manishvaidya.com. You agree that notice by the foregoing means shall be deemed complete when transmitted by manishvaidya.com. All notices to manishvaidya.com (other than notices of claimed infringement, which shall be transmitted as specified above) shall be delivered in writing and must be sent by either overnight courier or certified mail, return receipt requested to:

manishvaidya.com, Inc.
Attn: Legal Department
Los Gatos, CA 95032</h5>
    </div>


  </div>                  
  </div>


{% endblock %}